<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        rel="stylesheet"
    />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet"
    />
    </head>
    <style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100%;
        background-color: rgb(245, 245, 245);
    }

    .container {
        width: 75%;
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    i {
        color: silver;
    }
    .card {
        max-width: 440px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .toggler {
        font-size: 0.6em;
        color: #9ca3af;
    }
    #alert {
        opacity: 0;
    }
    </style>
    <body>
    <div class="container">
        <div class="wrapper">
        <div class="flex justify-center">
            <div class="card block p-6 rounded-md bg-white max-w-sm">
            <h5 class="text-gray-900 text-xl leading-tight font-medium mb-4">
                Set a new password
            </h5>
            <div id="alert" class="text-xs text-red-500 pb-4 animate-fade">
                Passwords doesn't match
            </div>
            <form method="post", action="">
                <div class="relative flex w-full flex-wrap items-stretch mb-5">
                <span
                    class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
                >
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input
                    onkeypress="passValidator()"
                    onchange="passValidator()"
                    onkeyup="passValidator()"
                    onkeydown="passValidator()"
                    name="password"
                    id="password"
                    type="password"
                    placeholder="Password"
                    class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full pl-10 pr-10"
                />
                <button
                    onclick="passToggler(event)"
                    type="button"
                    class="toggler z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-5 py-3"
                >
                    SHOW
                </button>
                </div>
                <div class="relative flex w-full flex-wrap items-stretch mb-5">
                <span
                    class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
                >
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input
                    onkeypress="passValidator()"
                    onchange="passValidator()"
                    onkeyup="passValidator()"
                    onkeydown="passValidator()"
                    id="confirmPassword"
                    name="confirmPassword"
                    type="password"
                    placeholder="Confirm Password"
                    class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full pl-10 pr-10"
                />
                <button
                    onclick="passToggler(event)"
                    type="button"
                    class="toggler z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-5 py-3"
                >
                    SHOW
                </button>
                </div>
                <button
                id="submit-btn"
                type="submit"
                onclick="savePassword(event)"
                class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                >
                Submit
                </button>
            </form>
            <!-- <div id="result" class="text-xs text-red-500 pt-5 pb-3 animate-fade">Password reset successful</div> -->
            </div>
        </div>
        </div>
    </div>

        <script>
            
            const submitBtn = document.querySelector("#submit-btn");

            {{!-- func defs --}}
            const passToggler = (e) => {
            const parent = e.target.parentElement;
            const input = parent.querySelector("input");
            const togglerBtn = parent.querySelector("button");

            if (input.type === "password") {
                input.type = "text";
                togglerBtn.innerText = "HIDE";
            } else {
                input.type = "password";
                togglerBtn.innerText = "SHOW";
            }
            };

            const passValidator = () => {
            const password = document.querySelector("#password").value;
            const confirmPassword =
                document.querySelector("#confirmPassword").value;
            const alert = document.querySelector("#alert");

            if (password != confirmPassword) {
                alert.innerText = "Passwords doesn't match";
                alert.style.opacity = 1;
                submitBtn.disabled = true;
            } else {
                alert.style.opacity = 0;
                submitBtn.disabled = false;
            }
            };

            const savePassword = (e) => {
                e.preventDefault();
                const wrapper = document.querySelector(".wrapper .card");
                const password = document.querySelector("#password");
                const confirmPassword =
                    document.querySelector("#confirmPassword");
                const alert = document.querySelector("#alert");

                fetch(window.location.href, {
                        method: "POST",
                        body: JSON.stringify({
                            password: password.value,
                            confirmPassword: confirmPassword.value
                        }),
                        headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }   
                    }).then(async (response) => {
                        const res = await response.json();
                            if (response.ok) {
                                return res;
                            }
                            throw new Error(res.msg);
                        })
                    .then((response) => {
                        console.log("success", response);
                        alert.classList.remove("text-red-500");
                        alert.classList.add("text-green-500");
                        alert.innerText = "Password reset successful !";
                        alert.style.opacity = 1;

                        password.disabled = true;
                        confirmPassword.disabled = true;
                        e.target.disabled = true;
                        e.target.style.cursor = "default";
                    })
                    .catch (err => {
                        console.log("err", err);
                        alert.classList.remove("text-green-500");
                        alert.classList.add("text-red-500");
                        alert.innerText = "Some error occured. Try again !";
                        alert.style.opacity = 1;
                    });
            };

        </script>
    </body>
</html>